<h3> Here is a list of all the charities users have added: </h3> 

<ul>
<%@charities.each do |charity|%>
<li><%=charity.name%><br>
<%=charity.description%><br>
Added by <%=User.find_by_id(charity.user_id).username %><br>
<a href="/donations/new"><button>Donate to this charity</button></a></li>
<%end%>
</ul>

Click <a href="/charities/new"><button>here</button></a> to add a new charity.
