<h1>Charities: </h1>
<ul class="charities">
<%@charities.each do |charity|%>
<li><h3><u><%=charity.name%></u></h3><br>
<%=charity.description%><br>
Added by <%=User.find_by_id(charity.user_id).username %><br>
<br><a href="/donations/new">Donate</a></li>
<%end%>
</ul>
<br>
<br>
<a href="/charities/new">Add a charity</a>
