<form method="post" action='/charities'>
<input type="text" name="name" placeholder="Name">
<input type="text" name="description" placeholder="Descriptoin">
<input type="submit" value="Add Charity">
</form>