
h1, h3 {
    color: white;
}

table, th, td{
    border-collapse: collapse;
    text-align: center;
    border: 3px solid black;
    padding: 5px;
    
}

table{
    width: 100%
}

th {
    color: white;
}

div.header {
    background-color: #00ace6;
    border-radius: 15px;
    padding: 8px;
}

html {
    background-color: #92B2BC;
    padding: 10px;
}

body {
    font-family: helvetica;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00ace6;
}

li {
  float: right;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

.menu li {
    border: none;
}

ul.charities {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: #92B2BC;
}

ul.charities li{
    float: left;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}

a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    color: #3F38CD;
}

a:hover, a:active {
    background-color: white;
}

.show {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    margin: 25px;
}

.failed {
    color: red;
}