<h1>Are you sure you want to delete your donation to <%= @donation.charity %>?</h1> 

<form method="post" action="/donations/<%= @donation.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input id="yes" type="submit" value="Yes, Delete">
</form>

<a href='/donations'>Go back!</a>