<h1>Are you sure you want to delete your donation to <%= @charity.name %>?</h1> 

<form method="post" action="/donations/<%= @donation.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input id="yes" type="submit" value="Yes, Delete">
</form>

<a href='/donations'><button>No, go back!</button></a>