<h1>Edit Donation to <%=@donation.charity%></h1>

<form method="post" action="/donations/<%= @donation.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="currency" name="amount" value="<%= @donation.amount %>">
    <input type="text" name="charity" value="<%= @donation.charity %>">
    <input type="submit" value="Update Donation">
</form>