<h1>New Donation</h1> 

<form method="post" action="/donations">
<input type="number" name="donations[amount]" placeholder="Enter Amount">
<input type="text" name="charities[name]" placeholder="Enter Charity Name">
<input type="text" name="charities[description]" placeholder="Enter Charity Description">
<input type="submit" value="Donate">
</form>