<h1>New Donation</h1> 

<form method="post" action="/donations">
<input type="currency" name="amount" placeholder="Enter Amount">
<input type="text" name="charity" placeholder="Enter Charity Name">
<input type="submit" value="Donate">
</form>