<h2>Login to view all of your donations</h2>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log In">
</form>

<h2>Or <a href='/signup'>Sign Up</a> if you don't already have an account.</h2>