<h2>Login to view all of your donations and charities</h2>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log In">
    <% if @failed %>
    <p class="failed">Incorrect username and/or password.</p>
    <% end %>
</form>


Or <a href='/signup'>Sign Up</a> if you don't already have an account.