<h2>Create an account to start keeping track of your donations and charities</h2>

<form method="post" action="/signup">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign Up">
</form>

<%if @errors%>
<% @errors.each do |e|%>
<p class="failed"><%= e %></p>
<%end%>
<%end%>
