<!doctype html>
<html>
  <head>
    <title>Donation Station</title>
  </head>
  <body>

    <div class="container">
      <h1>Donation Station</h1>
      <h2>Keep track of all of your donations and charities in one place!</h2>
        <div class="menu">
          <a href="/profile">View your profile</a><br>
          <a href="/charities">View all charities</a><br>
          <a href="/logout">Logout</a><br>
        </div>
      <%= yield %>
    </div>

   

  </body>
</html>