<!DOCTYPE html>
<html>
  <head>
    <title>Donation Station</title>
    <link rel="stylesheet" type="text/css" href="../layout.css">
  </head>

  <body>

    <div class="header">
      <h1>Donation Station</h1>
      <h2>Keep track of all of your donations and charities in one place!</h2>
        <div class="menu">
          <a href="/charities"><button type="button">View all charities</button></a><br>
          <%if logged_in?%>
          <a href="/profile"><button type="button">View your profile</button></a><br>
          <a href="/logout"><button>Logout</button></a><br>
          <%end%>
        </div>
      <%= yield %>
    </div>

   

  </body>
</html>